
{% extends "layout.html.twig" %}

{% block page_title %}
    Connexion
{% endblock %}

{%  block content %}

{% if error.messageKey is defined %}
    {{ error.messageKey|trans(error.messageData, 'security') }}
{% endif %}
<h1>Connexion</h1>
{{ form(form) }}

{% endblock %}