{% extends "layout.html.twig" %}

{% block page_title %}
    Manager les employés
{% endblock %}

{% block content %}

{% if success is defined %}
    <p style="color:gold;">{{ success }}</p>
{% endif %}

<h1>Bienvenue sur l'interface d'administration des cartes</h1>

<h3><a href="{{ path('admin_add_card')}}">Créer une Carte</a></h3>

<h3><a href="{{ path('admin_list_card') }}">Voir la liste des Cartes</a></h3>

{% endblock %}