{% extends "layout.html.twig" %}

{% block page_title %}
    Liste des cartes
{% endblock %}

{% block content %}
<h1>Liste des Cartes</h1>

<table>
    <tr>
        <th>Numéro de carte</th>
        <th>Propriétaire de la carte</th>
    </tr>
    {% for card in cards %}
        <tr>
            <td class="cardNumber">{{ card.cardNumber }}</td>
            {%  if card.customer != null %}
                <td>{{ card.customer.username }}</td>
            {%  else %}
                <td>----</td>
            {%  endif %}
        </tr>
    {% endfor %}
</table>

{% endblock %}