{% extends "layout.html.twig" %}

{% block page_title %}
    Modifier ses infos
{% endblock %}

{% block content %}
    <h1>Modifier ses informations personnelles</h1>

    {{ form(form) }}

{% endblock %}